 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300;900&display=swap');
 
html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
  font-family: var(--font-main);
	font-size: 16px;

}

a{
	color: var(--text-color);
	transition: all 0.2s ease-in;
	&:hover{
		color: var(--text-accent);
	}
}

.title2{
	color: var(--text-accent);
	font-family: var(--font-accent);
	font-size: 2.25rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	@media screen and (max-width:$tablet-size) {
	font-size: 1.75rem;		
	} 

}